
editor{
  display: block;
  position:relative;
  white-space: pre;
}
.code_editor,.code_editor_view{
  width: 100%;
  border-radius: 5px;
  border-color: #000;
  background-color: transparent;
  font-size: 18px;
  padding: 10px;
  line-height: 22px;
  font-family: Microsoft Yahei;
  overflow: auto;
  position:absolute;
  white-space: pre;
  border:0;
  outline:none;
  -webkit-appearance:none;
  word-break: break-all;
  word-wrap: normal;
  margin:0;
}
.code_set_w{
  background-color: #444;
  width: 100%;
  height: 30px;
  position: absolute;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #aaa;
  text-align:right;
  padding-right:5px;
}
.code_set_w img{
  width:20px;
  height:20px;
  margin:5px 2px;
  cursor:pointer;
}
.code_editor_view{
  background-color:transparent;
  color: transparent;
}
.code_editor_view._bottom{
  background-color:rgba(20,20,20,0.9);
  color: #888;
}
.code_editor{
  color:rgba(255,255,255,0.5);
  border-color:transparent;
  transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  resize: none; 
}
.code_editor.bg{
  background-color: rgba(20,20,20,0.9);
}
cd_key{
  color:#22b5ff;
}
cd_attr{
  
}
cd_sign{
  color:#f0d;
}
cd_fun,cd_fun *{
  color:#001dff;
}
cd_dfun,cd_dfun *{
  color:#b2ff00;
}
cd_num{
  color:#fff;
}
cd_tag,cd_tag *{
  color:#ff8d00;
}
cd_str,cd_str *{
  color:#f00!important;
}
cd_note,cd_note *{
  color:#019d00!important;
}